<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    #submit
        {
            padding: 10px;
            color: white;
            background-color: #009578;
            border: 1px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }

        #custom-button:hover, #submit-button:hover
        {
            background-color: #00b28f;
        }
    </style>
</head>
<body>
    <h1>Thank you for Helping us!</h1>
    <form action="../send" method = "GET">
        <button type="submit" id="submit">Send More</button>
    </form>
    
</body>
</html>
